$eerie-black: #222222ff;
$lapis-lazuli: #1c5d99ff;
$powder-blue: #bbcde5ff;

@mixin mngInput {
  cursor: pointer;
  font-weight: 500;
  overflow: hidden;
  margin-bottom: 0.375em;
  transition: background-color 0.2s;
  padding: 5px 7px;
  border-radius: 100px;
}

@mixin simpleBtn {
  font-family: 'Segoe UI', sans-serif;
  background-color: $powder-blue;
  outline: none;
  border: none;
  border-bottom: 2px solid rgb(134, 134, 134);
  border-radius: 100px;
  font-weight: 500;
  font-size: 1.1em;
  width: 100%;
  height: 50px;
  cursor: pointer;
  transition: background-color 0.5s;

  &:hover {
    background-color: mix(#fff, $lapis-lazuli, 45%);
  }

  &:disabled {
    cursor: default;
    background-color: rgb(160, 175, 196);
  }
}

@mixin centeredFlex {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin inputText {
  display: flex;
  flex-direction: column;
  margin: 0 0 25px;

  input {
    height: 30px;
    line-height: 30px;
    width: 300px;
    padding: 5px 10px;
    border-radius: 3px;
    border: 1px solid $eerie-black;
    font-size: 1.08em;

    &:focus {
      border: 1px solid $eerie-black;
      outline: none;
    }

    &::placeholder {
      color: #fff;
    }
  }

  label {
    span {
      background-color: white;
      color: rgb(88, 88, 88);
      padding: 0 5px;
      font-size: 1em;
      position: absolute;
      display: block;
      z-index: 100;
      margin-top: -34px;
      margin-left: 5px;
      transition: all 0.2s ease-in-out;
      font-size: 1.08em;
    }

    &:has(input:focus) {
      span {
        color: #1c5d99ff;
        margin-top: -55.2px;
        font-size: 1.02em;
      }
    }

    &:has(input:not(:placeholder-shown)) {
      span {
        color: #1c5d99ff;
        margin-top: -55.2px;
        font-size: 1.02em;
      }
    }
  }
}

@mixin closeBtn {
  align-self: flex-end;
  height: 17px;
  width: 17px;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;

  svg path {
    transition: all .1s ease-out;
  }

  &:hover {
    svg path {
      stroke: $lapis-lazuli;
    }
  }
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

header {
  position: sticky;
  top: 0;
  z-index: 10000;

  &>div {
    background-color: $lapis-lazuli;
    @include centeredFlex;
    justify-content: space-between;
    padding: 0 50px;

    .left {
      @include centeredFlex;
      justify-content: flex-start;
      text-decoration: none;

      .logo {
        padding: 10px 0;

        img {
          height: 70px;
          width: auto;
        }
      }

      .name {
        color: #fff;
        font-size: 1.1em;
        font-weight: 600;
        margin-left: 10px;
      }
    }

    .right {
      display: flex;
      align-items: center;
      gap: 15px;

      a {
        text-decoration: none;
        color: #fff;
        font-weight: 600;
        font-size: 16px;
        transition: color 0.3s;

        &:hover {
          color: #c0c0c0;
        }
      }
    }
  }
}

.overlay {
  position: fixed;
  z-index: 10000;
  top: 0;
  left: 0;
  height: 100% !important;
  width: 100% !important;
  background-color: rgba(34, 34, 34, 0.472);
}

.errorMsg {
  position: absolute;
  z-index: 10000;
  background-color: #fff;
  color: $eerie-black;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  @include centeredFlex;
  flex-direction: column;
  width: 300px !important;
  padding: 20px 10px;
  border: 2px solid $powder-blue;
  border-radius: 15px;

  .close {
    @include closeBtn;
  }

  .msgText {
    text-align: center;
    margin: 20px 0;
    font-size: 1.1em;
  }

  .OKBtn {
    width: 150px;

    button {
      @include simpleBtn;
      height: 40px;
      font-size: 1em;
      font-weight: 400;
    }
  }
}

.addCityWin {
  position: absolute;
  z-index: 10000;
  background-color: #fff;
  color: $eerie-black;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  @include centeredFlex;
  flex-direction: column;
  width: auto !important;
  padding: 20px 10px;
  border: 2px solid $powder-blue;
  border-radius: 15px;

  .close {
    @include closeBtn;
  }

  h3 {
    font-size: 1.27em;
    margin: 10px 0 20px;
  }

  form {
    display: flex;
    gap: 10px;
  }

  .inputDiv {
    @include inputText;

    input {
      width: 200px;
      height: 23px;
      line-height: 23px;
      font-size: 0.89em;
    }

    label {
      span {
        margin-top: -29px;
        font-size: 0.95em;
      }

      &:has(input:focus) {
        span {
          margin-top: -46.5px;
          font-size: 0.95em;
        }
      }

      &:has(input:not(:placeholder-shown)) {
        span {
          margin-top: -46.5px;
          font-size: 0.95em;
        }
      }
    }
  }

  .results {
    align-self: flex-start;
    margin: 0 7px;

    &>div:first-child {
      margin-bottom: 7px;
    }

    .resList {
      &>div {
        margin: 5px 0;
        font-weight: 400;
        cursor: pointer;
        transition: 0.2s;

        &:hover {
          color: $lapis-lazuli;
        }
      }

      .active {
        color: $lapis-lazuli;
        font-weight: 500;
      }
    }
  }

  .OKBtn {
    width: 150px;
    margin-top: 20px;

    button {
      @include simpleBtn;
      height: 40px;
      font-size: 1em;
      font-weight: 400;
    }
  }
}

.mainPage {
  display: flex;
  justify-content: space-between;
  padding: 20px 50px;

  aside {
    width: 23%;
  }

  main {
    width: 75%;

    .details {
      border: 2px solid $powder-blue;
      font-weight: 500;
      padding: 12px 20px;
      border-radius: 15px;
      margin-top: 20px;

      .header {
        font-weight: 500;
        font-size: 1.1em;
      }

      .detList {
        p {
          margin: 10px 0 0;
        }
      }
    }

    .saveRoute {
      width: 100%;
      margin-top: 7px;

      .invisible {
        display: none;
      }

      button {
        width: 100%;
        background-color: $lapis-lazuli;
        border: none;
        border-radius: 10px;
        color: #fff;
        font-size: 1.1em;
        padding: 15px 0;
        transition: 0.2s;
        cursor: pointer;

        &:hover {
          opacity: 0.9;
        }

        &:disabled {
          opacity: 0.6;
          cursor: default;
        }
      }
    }
  }

  #map {
    width: 100%;
    height: 700px;
    background-color: #85deff;
  }

  [class*="copyrights-pane"] {
    display: none !important;
  }

  .mainManage {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;

    &>div {
      width: 100%;
      margin-bottom: 10px;
    }

    .manageBtns {
      &>div {
        margin-bottom: 10px;
      }
    }

    .drawRoutes {
      @include simpleBtn;
    }
  }

  .deliManage {
    min-width: 215px;

    fieldset {
      border: 2px solid $powder-blue;
      border-radius: 15px;

      .header {
        font-weight: 500;
        font-size: 1.1em;
        margin: 5px 0 15px 15px;
      }

      .search {
        .inputDiv {
          @include inputText;
          padding-left: 15px;
          width: 80%;

          input {
            width: 100%;
            height: 20px;
            line-height: 20px;
          }

          label {
            span {
              margin-top: -29px;
              font-size: 0.95em;
            }

            &:has(input:focus) {
              span {
                margin-top: -45px;
                font-size: 0.95em;
              }
            }

            &:has(input:not(:placeholder-shown)) {
              span {
                margin-top: -45px;
                font-size: 0.95em;
              }
            }
          }
        }
      }

      .cities {
        font-weight: 500;

        ol {
          margin-top: 0;

          li {
            padding: 5px;
          }
        }
      }

      .inputRadio,
      .inputChkbox {
        @include mngInput;

        &:hover {
          background-color: mix(#fff, $lapis-lazuli, 84%);
        }

        &:has(input:checked) {
          background-color: mix(#fff, $lapis-lazuli, 84%);
        }

        input {
          position: absolute;
          left: -9999px;

          &:checked+label {
            &:before {
              box-shadow: inset 0 0 0 0.4375em $lapis-lazuli;
            }
          }
        }

        label {
          display: flex;
          align-items: center;
          padding: 5px 7px;
          border-radius: 100px;

          &:before {
            display: flex;
            flex-shrink: 0;
            content: "";
            background-color: #fff;
            width: 1.5em;
            height: 1.5em;
            border-radius: 50%;
            margin-right: 0.375em;
            transition: 0.25s ease;
            box-shadow: inset 0 0 0 0.125em $lapis-lazuli;
          }
        }
      }

      .inputChkbox {
        label {
          &:before {
            border-radius: 5px;
          }
        }

        input {
          &:checked+label {
            &:before {
              box-shadow: inset 0 0 0 0.4875em $lapis-lazuli;
            }
          }
        }
      }

      .multi {
        cursor: pointer;
        padding: 0 10px 10px;

        input[type=checkbox] {
          position: relative;
          cursor: pointer;
        }

        input[type=checkbox]:before {
          content: "";
          display: block;
          position: absolute;
          width: 16px;
          height: 16px;
          top: -2px;
          left: -5px;
          border: 2px solid $lapis-lazuli;
          border-radius: 3px;
          background-color: white;
        }

        input[type=checkbox]:checked:after {
          content: "";
          display: block;
          width: 5px;
          height: 10px;
          border: solid $lapis-lazuli;
          border-width: 0 2px 2px 0;
          -webkit-transform: rotate(45deg);
          -ms-transform: rotate(45deg);
          transform: rotate(45deg);
          position: absolute;
          top: 0px;
          left: 1px;
        }
      }

      .cities,
      .cars {
        max-height: 200px;
        overflow: auto;
      }

      .addCity {
        padding-left: 15px;
        font-weight: 500;

        .add {
          cursor: pointer;
          font-weight: 400;
          margin: 10px 0;
          display: flex;
          align-items: center;

          img {
            width: 15px;
            height: 15px;
            margin-right: 10px;
          }

          &:hover {
            color: $lapis-lazuli;
          }
        }
      }

      .loading {
        display: flex;
        flex-direction: column;
        align-items: center;
        color: #5c5c5c;

        img {
          width: 23px;
          height: auto;
        }
      }
    }
  }
}

.auth {
  @include centeredFlex;

  .authForm {
    margin: 150px 0;
    border: 2px solid $lapis-lazuli;
    border-radius: 10px;
    @include centeredFlex;
    flex-direction: column;
    padding: 30px 80px 35px;

    h2 {
      color: $lapis-lazuli;
      margin: 0 0 10px;
      font-size: 1.8em;
    }

    form {
      margin-top: 20px;

      .inputDiv {
        @include inputText;

        &:has(.error) {
          input {
            border-color: #d00000;
            border-width: 2px;
          }

          span {
            color: #d00000 !important;
          }
        }
      }

      .submit {
        button {
          @include simpleBtn;
          font-size: 1.2em;
          font-weight: 400;
        }
      }

      .error {
        color: #d00000;
        font-size: 0.9em;
      }
    }
  }
}

.me {
  padding: 20px 50px;

  aside {
    width: 23%;
  }

  main {
    width: 75%;
  }

  .header {
    h2 {
      margin: 10px 0 25px;
    }
  }

  .general {
    display: flex;
    justify-content: space-between;
  }

  .manageMenu {
    border: 2px solid $powder-blue;
    border-radius: 15px;
    font-weight: 500;
    font-size: 1.1em;

    .menuItem {
      cursor: pointer;
      transition: color 0.2s;
      padding: 25px 0 25px 15px;

      &:not(:last-child) {
        border-bottom: 2px solid $powder-blue;
      }

      &:hover {
        color: $lapis-lazuli;
      }
    }
  }

  .exit {
    margin-top: 20px;
    cursor: pointer;
    transition: color 0.2s;
    padding: 25px 0 25px 15px;
    border: 2px solid $powder-blue;
    border-radius: 15px;
    font-weight: 500;
    font-size: 1.1em;

    &:hover {
      color: $lapis-lazuli;
    }
  }

  .manage {
    border: 2px solid $powder-blue;
    border-radius: 15px;
    min-height: 258px;
    padding: 0 15px 10px;

    .body {
      .search {
        display: flex;
        gap: 15px;
        margin-bottom: 15px;

        .inputDiv {
          @include inputText;
          margin-bottom: 0;
        }
      }

      .listItem {
        padding: 15px 0;

        &:not(:last-child) {
          border-bottom: 2px solid $powder-blue;
        }

        .info {
          width: 400px;
          display: flex;
          justify-content: space-between;
        }
      }

      .Collapsible {
        .Collapsible__trigger {
          font-weight: 500;
          cursor: pointer;
          transition: 0.2s;

          &:hover {
            color: $lapis-lazuli;

          }
        }

        .Collapsible__contentInner {
          margin-top: 10px;

          &>div:not(:last-child) {
            margin-bottom: 10px;
          }

          .numeration {
            font-weight: 500;
          }
        }
      }

      .listItem {
        &>.Collapsible {
          &>.Collapsible__trigger {
            display: block;
            width: 100%;
            height: 40px;
            line-height: 40px;
            padding-left: 7px;
            background-color: $lapis-lazuli;
            color: #fff;

            &:hover {
              background-color: rgb(42, 132, 217);
              color: #fff;
            }
          }

          &>.Collapsible__contentOuter>.Collapsible__contentInner {
            &>div {
              padding-bottom: 10px;

              &:not(:last-child) {
                border-bottom: 2px solid $powder-blue;
              }
            }
          }
        }
      }
    }
  }

  .createReports {
    .body {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;

      &>div {
        width: 50%;
        .btns {
          display: flex;
          flex-direction: column;
          align-items: flex-start;

          .defineDates {
            border: 2px solid $powder-blue;
            background-color: transparent;

            &:hover {
              border-color: white;
            }
          }

          button {
            @include simpleBtn;
            font-size: 0.94em;
            width: 150px;
            height: 40px;
            margin: 5px 0 15px;
            border: none;
          }
        }
      }
    }
  }
}

.help {
  padding: 20px 50px;
  display: flex;
  flex-direction: column;

  &>div {
    display: flex;
    justify-content: space-between;

    main {
      width: 75%;
      padding-right: 40px;
      margin-bottom: 50px;
    }

    .advice {
      h2 {
        margin: 30px 0 15px;
      }

      p {
        margin: 0;
      }

      &:target:before {
        content: "";
        display: block;
        height: 94px;
        margin-top: -94px;
        visibility: hidden;
      }
    }

    .highlight {
      color: $lapis-lazuli;
      background-color: #eeeeeec3;
      border-radius: 5px;
      padding: 0 5px;
    }

    aside {
      width: 25%;

      ul {
        position: sticky;
        top: 100px;
        display: flex;
        flex-direction: column;
        gap: 10px;
        border-left: 2px solid $lapis-lazuli;
        padding: 10px;
        margin-bottom: 0;
        list-style: none;

        .active {
          color: $lapis-lazuli;
        }
      }

      a {
        text-decoration: none;
        color: #000;
        transition: 0.2s;
        display: block;
        width: 100%;
        height: 100%;
        font-size: 0.9em;

        &:hover {
          color: $lapis-lazuli;
        }
      }
    }
  }
}